$primary-color: #0ea7ff;
$accent-color: #2F94CE;
$text-color: #005281;

.summary-table {
  flex-grow: 1;
  .summary-table-header {
    margin-bottom: 0.25rem;
    border: 1px solid $accent-color;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .summary-table-content{
    border: 1px solid $accent-color;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
    line-height: 2rem;
  }
}

.align-items-left {
  text-align: left;
}

.chart {
  flex-grow: 2;
}

.font-size-2 {
  font-size: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');
